@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

@import 'settings/reset.scss';
@import 'settings/colors';
@import 'settings/fonts';
@import 'settings/general';
@import './home/header.scss';
@import './home/threeColumns';
@import './home/fourIcons';
@import './home/aboutUs';
@import './home/footer';
@import './home/aboutOrg';
@import './home/loginPage';